$primary-color: #444;
$secondary-color: #5da9dd;
$tertiary-color: #080808;
$show-home-image: true;
$home-image: url(../img/backgroundimage-2.jpg);
$background-opacity: 0.9;


@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);

            }
        }
    
    }
}

// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 7680px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769) and (max-width: 11700px) {
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width: 1171px) {
        @content;
    }
}